<footer class="bg-darker text-center text-light mt-2 mb-8 md:ml-32 pl-6 pr-6 pb-6">
        🄯 <a href="{{@site.url}}">{{@site.title}}</a> {{date format="YYYY"}}: Our original content is licensed under GPLv3 (code), CC-BY-SA 4.0 (content), unless otherwise noted. All other content is copyrighted to their respective owners and/or authors.
</footer>
