<footer class="container pt-6 pb-6 mx-auto md:pl-64">
    <!-- Footer Copyleft Section -->
    <div class="flex items-center justify-center space-x-1 text-sm">
        <svg class="w-5 h-5 text-lighter" role="img">
            <use xlink:href="#icon-copyleft"></use>
        </svg>
        <span>Copyleft <a href="{{@site.url}}" rel="me" class="underline hover:text-highlight">{{@site.title}}</a> {{date format="YYYY"}}</span>
    </div>

    <!-- Footer Navigation -->
    <section id="footer-nav" class="mt-4 mb-6">
        <nav class="flex flex-col justify-center gap-1 text-xs text-light">
            {{navigation type="secondary"}}
        </nav>
    </section>
</footer>
