<footer class="text-center text-light text-xs">
        Copyleft <a href="{{@site.url}}">{{@site.title}}</a> {{date format="YYYY"}}: <a href="/terms-of-service/">{{t "Terms of Service"}}</a>. All other content is copyrighted to their respective owners and/or authors.
</footer>
