<div id="login sso">
<h3 class="text-sm text-lighter">Join the geek side!</h3>
<h4 class="text-xs text-light font-mono"><i>We have clusters...</i></h4>
<ul>
  <li>
    <a class="sign-linkedin" href="https://login.spectralwebservices.com/auth/linkedin?inbound=b89c0c7a-1b79-4c68-b75e-32060012d7ca" alt="Sign in with LinkedIn">Login with Linkedin</a>
  </li>
  <li>
    <a class="sign-github" href="https://login.spectralwebservices.com/auth/github?inbound=b89c0c7a-1b79-4c68-b75e-32060012d7ca" alt="Sign in with Github">Login with Github</a>
  </li>
</ul>
</div>