<div id="login sso">
    <ul class="flex flex-wrap justify-center space-x-2 text-sm" role="menu">
        <li class="flex items-center gap-2 px-4 py-2 rounded-lg hover:text-lighter hover:bg-dark" role="menuitem">
            <svg class="w-5 h-5 text-light" role="img" aria-label="Email">
                <use xlink:href="#icon-contact-us"></use>
            </svg>
            <a class="text-light hover:text-lighter" href="/#/portal/signup" data-portal="signup" alt="Sign in with your email">Register with Email</a>
        </li>

        <li class="flex items-center gap-2 px-4 py-2 rounded-lg hover:text-lighter hover:bg-dark" role="menuitem">
            <svg class="w-5 h-5 text-light" role="img" aria-label="LinkedIn">
                <use xlink:href="#icon-linkedin"></use>
            </svg>
            <a class="text-light hover:text-lighter" href="https://login.spectralwebservices.com/auth/linkedin?inbound=b89c0c7a-1b79-4c68-b75e-32060012d7ca" alt="Sign in with LinkedIn">Login with LinkedIn</a>
        </li>
        <li class="flex items-center gap-2 px-4 py-2 rounded-lg hover:text-lighter hover:bg-dark" role="menuitem">
            <svg class="w-5 h-5 text-light" role="img" aria-label="GitHub">
                <use xlink:href="#icon-github"></use>
            </svg>
            <a class="text-light hover:text-lighter" href="https://login.spectralwebservices.com/auth/github?inbound=b89c0c7a-1b79-4c68-b75e-32060012d7ca" alt="Sign in with GitHub">Login with GitHub</a>
        </li>
    </ul>
</div>