{{!< default}}

<main id="main post-wrapper">

<article class="max-w-full px-4 mx-auto prose-lg post-content prose-invert text-light md:px-32">

<section>
<section class="error-message">
    <h1 class="error-code">404</h1>
    <a href="{{@site.url}}" title="Go to the front page of SREDevOps.org or try searching below."
        referrerpolicy="no-referrer-when-downgrade" rel="home">Go to the front page of SREDevOps.org</a> or try searching
    below.
</section>
<!-- Search button -->
    <section class="mb-6">
    <button 
        class="flex items-center w-full gap-2 px-4 py-2 transition-colors duration-200 border rounded-md border-dark bg-dark text-lighter hover:bg-darker" 
        data-ghost-search 
        aria-label="Search site content"
        title="Press / to search"
    >
        <svg class="w-5 h-5 text-light" role="img" aria-label="Search">
            <use xlink:href="#icon-search"></use>
        </svg>
        <span class="flex-grow text-left">Search</span>
        <kbd class="hidden px-2 py-1 text-xs rounded md:inline-block bg-darker">
            /
        </kbd>
    </button>
    </section>

</article>


</main>

