{{!< default}}


<main id="main">

<article class="container p-6 md:ml-32 md:pl-32">
<section class="py-0 md:py-0">

        <div class="l-content">
            <div class="l-wrapper" data-animate="fade-up">
                <div class="l-recommendations-container">
                    {{recommendations limit="0" }}
                </div>
            </div>
        </div>


</section>

</article>
</main>
