@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  html {
    font-family: 'Noto Sans', system-ui, sans-serif;
  }
}
/* #sidebar {
  @apply w-64 bg-darker h-screen p-6 fixed md:block hidden z-10 transform md:translate-x-0 -translate-x-full transition-transform duration-300 overflow-y-scroll
} */
#logo {
  @apply mt-4 mb-4 align-middle;
}

#svg {
  display: none;
}

.kg-width-wide,
.kg-width-full.kg-content-wide {
  @apply max-w-screen-xl;
}

/* html,body{
} */
a:hover,
h1,
h2,
h3,
h3 {
  @apply text-lighter;
}
#main #post-wrapper {

  @apply container mx-auto md:pl-64 pt-6 pb-6

}
#main a {
  @apply text-light line-clamp-3 md:line-clamp-4;
}

a:hover,
a:hover h1,
a:hover h2,
a:hover h3 {
  @apply underline;
}

::-webkit-scrollbar {
  @apply w-2 h-2 bg-darker;
}

::-webkit-scrollbar-thumb {
  @apply w-2 bg-dark;
}

::-webkit-scrollbar-thumb {
  @apply w-2 bg-dark;
}

/* ul,li{
  @apply list-disc list-outside;
} */


#main h1,
#main h2,
#main h3,
#main h4,
#main h5 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
  @apply text-lighter;
}

p {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  text-align: justify;
  hyphens: auto;
  line-height: 2;
  @apply max-w-full pt-4 pb-4 text-light;
}

#id {
  @apply grid max-w-full grid-cols-10 mt-10 md:pt-10;

}

/* All Tables */

.post-content{
  @apply container p-6 mx-auto md:ml-64 md:px-32 md:py-12;
}


/********** end table ************/

article:hover {
  animation: border-animation 1s infinite;
}

@keyframes border-animation {
  /* 0% { border-color: transparent; } */
  /* 100% { border-color: transparent; } */
  0% { border-block-start-color: purple; border-block-end-color: #630ef1; border-left-color: purple; border-right-color: #630ef1; }
  50% { border-block-start-color: #630ef1; border-block-end-color: purple; border-left-color: #630ef1; border-right-color: purple; }
  100% { border-block-start-color: purple; border-block-end-color: #630ef1; border-left-color: purple; border-right-color: #630ef1; }
}

/* Paragraph */
section p,
p {
  margin-bottom: 1.5rem;
  /* Optional margin for spacing */
}

/* Grid layout */
.grid-container {
  display: grid;
  gap: 2rem;
  /* gap-8 */
  margin-top: 2.25rem;
  /* mt-9 */
}

/* Component headings */
.component-heading {
  font-size: 1.125rem;
  /* text-lg */
  margin-bottom: 0.5rem;
  /* mb-2 */
}

.component-subheading {
  font-size: 1rem;
  /* text-base */
  font-style: italic;
  /* text-neutral-500 */
  margin-bottom: 1rem;
  /* mb-4 */
}

#content li {
  @apply text-light
}

#content {
  @apply mt-4;

}

#content h1 {
  @apply mb-2 text-4xl;
  font-weight: 500;
  line-height: 2;
  text-align: center;

}

#content h2 {
  @apply mb-2 text-2xl;
  font-weight: 500;
  line-height: 1, 5;
  text-align: left;
  margin-top: 1.5rem;
}

#content h3 {
  @apply text-xl;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

#content ul li a {
  margin-bottom: 24px;
  margin-top: 24px;
  list-style-position: inside;
  list-style-type: disc;
  line-height: 2;
  text-wrap: wrap;
  @apply text-lighter;
}

#content ul li {
  margin-bottom: 24px;
  margin-top: 24px;
  list-style-position: outside;
  list-style-type: disc;
  line-height: 2;
  text-wrap: wrap;
  @apply text-light;
}

#main>article>section.post-content.prose.prose-lg.max-w-full.text-light>ul>li>strong {
  @apply text-lighter;
}

.recommendation-favicon{
  @apply float-left w-12 h-12 m-0;
}

/****************************************/
/* 16. Cards
/* ---------------------------------------------------------- */

/* Add extra margin before/after any cards, except for when immediately preceeded by a heading */

.gh-content :not(.kg-card):not(table):not([id])+ :is(.kg-card, table) {
  margin-top: calc(48px * var(--content-spacing-factor, 1));
}

.gh-content :is(.kg-card, table)+ :not(.kg-card):not(table):not([id]) {
  margin-top: calc(48px * var(--content-spacing-factor, 1));
}

.gh-content :not(.kg-card):not([id])+.kg-card.kg-width-full {
  margin-top: calc(68px * var(--content-spacing-factor, 1));
}

.gh-content .kg-card.kg-width-full+ :not(.kg-card):not([id]) {
  margin-top: calc(68px * var(--content-spacing-factor, 1));
}

/* Image */

.kg-image {
  margin-right: auto;
  margin-left: auto;
}

/* Embed */

.kg-embed-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Gallery */

.kg-image[width][height],
.kg-gallery-image {
  cursor: pointer;
}

.kg-image-card a:hover,
.kg-gallery-image a:hover {
  opacity: 1 !important;
}

/* Toggle */

.kg-card.kg-toggle-card .kg-toggle-heading-text {
  font-size: 2rem;
  font-weight: 700;
}

.has-serif-title .kg-toggle-card .kg-toggle-heading-text {
    @apply font-serif;
}

.has-mono-title .kg-toggle-card .kg-toggle-heading-text {
    @apply font-mono;
}

/* Callout */

.kg-callout-card.kg-card {
  border-radius: 0.25em;
}

.kg-callout-card-accent a {
  text-decoration: underline;
}

/* Blockquote */

blockquote:not([class]) {
  padding-left: 2rem;
  border-left: 4px solid var(--ghost-accent-color);
    @apply text-light;
}

blockquote.kg-blockquote-alt {
  @apply text-light;
  font-style: normal;
  font-weight: 400;
}

/* Button */

.kg-card.kg-button-card .kg-btn {
  height: unset;
  padding: .6em 1.2em;
  text-align: center;
  font-size: 1em;
  line-height: 1.2em;
}

/* Header */

.has-serif-title .kg-card.kg-header-card h2.kg-header-card-header {
    @apply font-serif;
}

.has-mono-title .kg-card.kg-header-card h2.kg-header-card-header {
    @apply font-mono;
}

.has-serif-body .kg-header-card h3.kg-header-card-subheader {
    @apply font-serif;
}

/* Bookmark */

.kg-bookmark-card .kg-bookmark-container {
  border-radius: 0.25em !important;
  @apply text-light
}

.kg-bookmark-card .kg-bookmark-container:hover {
  opacity: 1;
}

.kg-bookmark-card a.kg-bookmark-container,
.kg-bookmark-card a.kg-bookmark-container:hover {
    @apply bg-dark text-lighter;
    background: #212121!important;
    color: #fefefe!important;


}

.kg-bookmark-card .kg-bookmark-content {
  padding: 1.15em;
}

.kg-bookmark-card .kg-bookmark-title {
  font-size: 0.9em;
}

.kg-bookmark-card .kg-bookmark-description {
  max-height: none;
  margin-top: 0.3em;
  font-size: 0.8em;
}

.kg-bookmark-card .kg-bookmark-metadata {
  font-size: 0.8em;
}

.kg-bookmark-card .kg-bookmark-thumbnail img {
  border-radius: 0 0.2em 0.2em 0;
}

/* Product */

.kg-product-card.kg-card .kg-product-card-image {
  margin-bottom: 12px;
}

.kg-product-card.kg-card a.kg-product-card-button {
  height: 2.8em;
  margin-top: 12px;
}

.has-serif-title .kg-product-card.kg-card .kg-product-card-title {
    @apply font-serif;
}

.has-mono-title .kg-product-card.kg-card .kg-product-card-title {
    @apply font-mono;
}

.has-serif-body .kg-product-card-description :is(p, ul, ol) {
  font-family: var(--font-serif-alt);
}

/* File */

.kg-file-card.kg-card .kg-file-card-container {
  padding: 0.6em;
}

.kg-file-card.kg-card .kg-file-card-contents {
  margin: 4px 8px 6px;
}

.kg-file-card.kg-card .kg-file-card-metadata {
  font-size: 0.9em;
}

.kg-file-card.kg-card .kg-file-card-filesize::before {
  margin-right: 6px;
  margin-left: 6px;
}

/* Caption */

figcaption {
  @apply mt-3 text-sm text-light text-center
}

.kg-card.kg-width-full figcaption {
  padding: 0 16px;
}

figcaption a {
  text-decoration: underline;
}

/* 17. Comments
/* ---------------------------------------------------------- */

.gh-comments {
  @apply mt-6
}

/* ---------------------------------------------------------- */


/* Tags Page */

@media (min-width: 48rem) {
  .l-tags-container,
  .recommendations {
    @apply flex flex-wrap justify-center mx-auto max-w-[720px];
  }
}

@media (min-width: 64rem) {
  .l-tags-container,
  .recommendations {
    @apply max-w-[1080px];
  }
}

.m-tag-card,
.recommendation {
  @apply border-0 bg-[#212121] rounded-[10px] h-[180px] my-0 mb-[20px] relative transition-all duration-[0.25s] ease-[cubic-bezier(.02,.01,.47,1)];
}

.m-tag-card:hover,
.recommendation:hover {
  @apply bg-darker;
}

.m-tag-card:hover:before,
.recommendation:hover:before {
  @apply shadow-[var(--article-shadow-hover),0_0_0_transparent];
}

@media (min-width: 48rem) {
  .m-tag-card,
  .recommendation {
    @apply my-0 mb-[40px] mx-[20px] w-[320px];
  }
}

.m-tag-card:before,
.recommendation:before {
  @apply rounded-[10px] bottom-0 shadow-[var(--article-shadow-normal),0_0_0_transparent] content-[""] left-[10px] absolute right-[10px] top-[10px] transition-all duration-[0.25s] ease-[cubic-bezier(.02,.01,.47,1)];
}

.m-tag-card__link,
.recommendation__link {
  @apply bg-[#212121] rounded-[10px] block h-full overflow-hidden relative w-full;
}

.m-tag-card__link.no-picture,
.recommendation__link.no-picture {
  @apply bg-[var(--color-primary-background)];
}

.m-tag-card__picture,
.recommendation-favicon {
  @apply relative top-0 left-0 w-[75px] h-[75px];
}

.recommendation-favicon {
  @apply relative top-[5px] left-[5px] max-w-[45px] max-h-[45px];
}

.m-tag-card__info,
.recommendation__description {
  @apply bottom-[15px] text-white left-[15px] absolute;
}

.m-tag-card__info.no-picture {
  @apply text-[var(--color-primary-text)];
}

.m-tag-card__name,
.recommendation__title {
  @apply text-[1.8rem] font-semibold tracking-[.3px] leading-[1.3] my-0 mb-[5px];
}

.m-tag-card__description {
  @apply text-[1rem] font-medium tracking-[.3px] leading-[0.2];
}

.m-tag-card__counter {
  @apply block text-[0.9rem] tracking-[.2px];
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 999;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.8);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: transparent;
  margin: 15% auto;

}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 2rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #3d3d3d;
  text-decoration: none;
  cursor: pointer;
}

/* ------------------------ Agolia search UI ------------------------ */

#search_wrapper {
  @apply fixed w-full h-screen left-0 top-0 backdrop-blur-sm flex justify-center z-[9999];
}

.agolia_modal_box {
  background: var(--background-color);
  @apply max-w-xl min-w-[90%] max-h-[80%] self-start mt-[10vmin] rounded-xl border-t border-gray-100 border-opacity-10;
}

.agolia_modal_box header {
  @apply px-4 py-2 border-b border-gray-100 border-opacity-10;
}

.agolia_modal_box .agolia_search_hits {
  @apply px-4 py-8 overflow-y-auto max-h-96;
}

.agolia_modal_box footer {
  @apply flex justify-end border-t border-gray-100 border-opacity-10;
}

.agolia_modal_box footer .agolia_logo_wrapper {
  @apply flex items-center p-5 gap-x-3;
}

.agolia_modal_box footer .agolia_logo_wrapper span {
  @apply text-gray-500 text-[12px] font-mono block;
}

/* agolia css overwrite rules */

.ais-SearchBox-form {
  @apply w-full;
}

.ais-SearchBox-form input {
  @apply w-full px-10 py-3 bg-transparent outline-none text-gray-50;
}

.ais-SearchBox-submit {
  @apply absolute -translate-y-1/2 left-2 top-1/2;
}

.ais-SearchBox-submitIcon {
  @apply w-4 h-4 fill-slate-400;
}

.ais-SearchBox-reset {
  @apply absolute -translate-y-1/2 right-2 top-1/2;
}

.ais-SearchBox-resetIcon {
  @apply w-3 h-3 fill-slate-400;
}

.ais-Hits-list {
  @apply flex flex-col gap-y-3;
}

.ais-Hits--empty {
  @apply font-medium text-center text-slate-400;
}

.ais-Highlight-highlighted,
.ais-Snippet-highlighted {
  @apply font-semibold text-white bg-transparent;
}

/* agolia hit item template */
.hit-item {
  @apply flex flex-col cursor-pointer bg-[#e2e8f00d] p-3.5 rounded-lg;
}

.hit-title {
  @apply flex items-center font-medium text-slate-400;
}

.hit-type {
  @apply px-1.5 py-0.5 text-xs bg-[#fff3] rounded-md ml-3 capitalize;
}

.hit-description {
  @apply mt-1 text-sm text-slate-400;
}

/* ------------------------ Page Recommends ------------------------ */

.recommendations {

}

.recommendation {
    @apply flex flex-col p-2 gap-y-3;
}

.recommendation-title {
    @apply p-2 text-xl font-medium;
}

.recommendation-favicon {
    @apply w-10 h-10 mr-2;
}
.recommendation-url {
  @apply text-xs text-lighter;
}

.recommendation-url:hover {
  @apply text-highlight;
}

#footer-navigation .nav-item .nav-link {
  display: inline;
  align-items: center;
}


.recommendation-description {
    @apply pl-2 pr-2 mb-1 text-xs text-light;
}

.recommendation-description a {
  @apply text-lighter;
}

.recommendation-description a:hover {
  @apply text-highlight;
}

/* Global Table Styles */
.hay-tabla {
  @apply overflow-x-scroll bg-opacity-50 place-self-center bg-dark text-light;
  clear: both;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 95%;
  min-width: 75%;
}