@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --gh-font-heading: '';
  --gh-font-body: '';
}

#logo {
  @apply mt-4 mb-4 align-middle;
}

#svg {
  display: none;
}

.kg-width-wide,
.kg-width-full.kg-content-wide {
  @apply max-w-screen-xl;
}


h1,
h2,
h3,
h4,
h5 {
  @apply text-lighter font-semibold;
}
#main #post-wrapper {

  @apply container mx-auto md:pl-64 pt-6 pb-6

}
#main a {
  @apply text-light line-clamp-3 md:line-clamp-4;
}

a:hover,
a:hover h1,
a:hover h2,
a:hover h3 {
  @apply underline;
}

::-webkit-scrollbar {
  @apply w-2 h-2 bg-darker;
}

::-webkit-scrollbar-thumb {
  @apply w-2 bg-dark;
}

::-webkit-scrollbar-thumb {
  @apply w-2 bg-dark;
}

.contenido ul,.contenido li{
  @apply list-disc list-outside;
}


#main h1,
#main h2,
#main h3,
#main h4,
#main h5 {
  @apply font-semibold;
}

p {
  font-weight: 400;
  text-align: justify;
  hyphens: auto;
  line-height: 2;
  @apply max-w-full pt-4 pb-4 text-light;
}

#id {
  @apply grid max-w-full grid-cols-10 mt-10 md:pt-10;

}

/* All Tables */

.post-content{
  @apply px-6 mx-auto md:ml-64 md:p-32 md:py-12;
}

/* Paragraph */
section p,
p {
  margin-bottom: 0.1rem;
  /* Optional margin for spacing */
}

/* Grid layout */
.grid-container {
  display: grid;
  gap: 2rem;
  /* gap-8 */
  margin-top: 2.25rem;
  /* mt-9 */
}

/* Component headings */
.component-heading {
  font-size: 1.125rem;
  /* text-lg */
  margin-bottom: 0.5rem;
  /* mb-2 */
}

.component-subheading {
  font-size: 1rem;
  /* text-base */
  font-style: italic;
  /* text-neutral-500 */
  margin-bottom: 1rem;
  /* mb-4 */
}

#content li {
  @apply text-light
}

#content {
  @apply mt-4;

}

#content h1 {
  @apply text-4xl;
  font-weight: 500;
  line-height: 2;
  /* text-align: center; */

}

#content h2 {
  @apply text-3xl;
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
}

#content h3 {
  @apply text-2xl;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

#content ul li a {
  margin-bottom: 24px;
  margin-top: 24px;
  list-style-position: inside;
  list-style-type: disc;
  line-height: 2;
  text-wrap: wrap;
  @apply text-lighter;
}

#content ul li {
  margin-bottom: 24px;
  margin-top: 24px;
  list-style-position: outside;
  list-style-type: disc;
  line-height: 2;
  text-wrap: wrap;
  @apply text-light;
}

#main>article>section.post-content.prose.prose-lg.max-w-full.text-light>ul>li>strong {
  @apply text-lighter;
}


/********** end table ************/

article:hover {
  animation: border-animation 1s infinite;
}

@keyframes border-animation {
  /* 0% { border-color: transparent; } */
  /* 100% { border-color: transparent; } */
  0% { border-block-start-color: purple; border-block-end-color: #630ef1; border-left-color: purple; border-right-color: #630ef1; }
  50% { border-block-start-color: #630ef1; border-block-end-color: purple; border-left-color: #630ef1; border-right-color: purple; }
  100% { border-block-start-color: purple; border-block-end-color: #630ef1; border-left-color: purple; border-right-color: #630ef1; }
}

.recommendation-favicon{
  @apply float-left w-12 h-12 m-0;
}

/* 17. Comments
/* ---------------------------------------------------------- */

.gh-comments {
  @apply mt-6
}

/* ---------------------------------------------------------- */


/* Tags Page */

@media (min-width: 48rem) {
  .l-tags-container,
  .recommendations {
    @apply flex flex-wrap justify-center mx-auto max-w-[720px];
  }
}

@media (min-width: 64rem) {
  .l-tags-container,
  .recommendations {
    @apply max-w-[1080px];
  }
}

.m-tag-card,
.recommendation {
  @apply border-0 bg-[#212121] rounded-[10px] h-[180px] my-0 mb-[20px] relative transition-all duration-[0.25s] ease-[cubic-bezier(.02,.01,.47,1)];
}

.m-tag-card:hover,
.recommendation:hover {
  @apply bg-darker;
}

.m-tag-card:hover:before,
.recommendation:hover:before {
  @apply shadow-[var(--article-shadow-hover),0_0_0_transparent];
}

@media (min-width: 48rem) {
  .m-tag-card,
  .recommendation {
    @apply my-0 mb-[40px] mx-[20px] w-[320px];
  }
}

.m-tag-card:before,
.recommendation:before {
  @apply rounded-[10px] bottom-0 shadow-[var(--article-shadow-normal),0_0_0_transparent] content-[""] left-[10px] absolute right-[10px] top-[10px] transition-all duration-[0.25s] ease-[cubic-bezier(.02,.01,.47,1)];
}

.m-tag-card__link,
.recommendation__link {
  @apply bg-[#212121] rounded-[10px] block h-full overflow-hidden relative w-full;
}

.m-tag-card__link.no-picture,
.recommendation__link.no-picture {
  @apply bg-[var(--color-primary-background)];
}

.m-tag-card__picture,
.recommendation-favicon {
  @apply relative top-0 left-0 w-[75px] h-[75px];
}

.recommendation-favicon {
  @apply relative top-[5px] left-[5px] max-w-[45px] max-h-[45px];
}

.m-tag-card__info,
.recommendation__description {
  @apply bottom-[15px] text-white left-[15px] absolute;
}

.m-tag-card__info.no-picture {
  @apply text-[var(--color-primary-text)];
}

.m-tag-card__name,
.recommendation__title {
  @apply text-[1.8rem] font-semibold tracking-[.3px] leading-[1.3] my-0 mb-[5px];
}

.m-tag-card__description {
  @apply text-[1rem] font-medium tracking-[.3px] leading-[0.2];
}

.m-tag-card__counter {
  @apply block text-[0.9rem] tracking-[.2px];
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 999;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.8);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8);
  /* Black w/ opacity */
}


/* ------------------------ Page Recommends ------------------------ */

/* .recommendations {

} */

.recommendation {
    @apply flex flex-col p-2 gap-y-3;
}

.recommendation-title {
    @apply p-2 text-xl font-medium;
}

.recommendation-favicon {
    @apply w-10 h-10 mr-2;
}
.recommendation-url {
  @apply text-xs text-lighter;
}

.recommendation-url:hover {
  @apply text-highlight;
}

#footer-navigation .nav-item .nav-link {
  display: inline;
  align-items: center;
}


.recommendation-description {
    @apply pl-2 pr-2 mb-1 text-xs text-light;
}

.recommendation-description a {
  @apply text-lighter;
}

.recommendation-description a:hover {
  @apply text-highlight;
}

/* Global Table Styles */
.hay-tabla {
  @apply overflow-x-scroll bg-opacity-50 place-self-center bg-dark text-light;
  clear: both;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 95%;
  min-width: 75%;
}

/* Post List Images */
#post-list article div{
  @apply p-4 sm:p-6;  
}
#post-list article div h1{
  @apply block text-lg font-medium text-lighter;  
}
#post-list article a img{
  @apply object-cover w-full h-56;  
}
#post-list article{
  @apply mx-6 overflow-hidden border border-transparent rounded-lg bg-dark md:mx-0;  
}
#post-list {
  @apply grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3;
}

/* Embed */
.kg-embed-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
