/* TOC */

.gh-content {
  position: relative;
}

.gh-toc>.toc-list {
  position: relative;
}

.toc-list {
  overflow: hidden;
  list-style: none;
}

@media (min-width: 1300px) {
  .gh-sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: 4vmin;
    right: 0;
    /* Changed grid-column to right positioning */
    width: 260px;
    margin-right: 4vmin;
  }

  .gh-toc {
    position: sticky;
    top: 4vmin;
    max-height: calc(100vh - 8vmin);
    overflow-y: auto;
  }
}

.gh-toc .is-active-link::before {
  /* background-color: var(--ghost-accent-color); */
  @apply bg-light;
  /* Defines TOC   accent color based on Accent color set in Ghost Admin */
}

.toc {
  overflow-y: auto
}

.toc>.toc-list {
  overflow: hidden;
  position: relative
}

.toc>.toc-list li {
  list-style: none
}

.toc-list {
  margin: 0;
  padding-left: 10px
}

a.toc-link {
  color: currentColor;
  height: 100%
}

.is-collapsible {
  max-height: 1000px;
  overflow: hidden;
  transition: all 300ms ease-in-out
}

.is-collapsed {
  max-height: 0
}

.is-position-fixed {
  position: fixed !important;
  top: 0
}

.is-active-link {
  font-weight: 600
}

.toc-link::before {
  @apply bg-dark;
  content: ' ';
  display: inline-block;
  height: inherit;
  left: 0;
  margin-top: -1px;
  position: absolute;
  width: 1px
}

.is-active-link::before {
  @apply bg-lighter
}