<footer class="container pt-6 pb-6 mx-auto md:pl-64">
    <!-- Footer Nav Section -->
    <section class="flex flex-col items-center gap-1 mx-auto text-xs text-light">
        <ul class="text-center">
            <li>
                <a href="{{@site.url}}" rel="me" alt="{{@site.title}}" aria-label="SREDevOps.org">
                    <img src="{{@site.logo}}" alt="SREDevOps.org" />
                </a>
            </li>

            <li>
                <p xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/">
                <a property="dct:title" rel="cc:attributionURL" href="https://sredevops.org">SREDevOps.org</a>
                <a rel="cc:attributionURL dct:creator" property="cc:attributionName" href="https://sredevops.org/author/ngeorger" class="hidden ">by Nicolás Georger</a>
                is licensed under <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank" rel="license noopener noreferrer">CC BY 4.0</a>
                </p>
            </li>

            <li>
                <a href="https://ghost.org/" target="_blank" rel="noopener">Built with Ghost</a>
            </li>
        </ul>
    </section>

    <!-- Footer Navigation -->
    <section id="footer-nav" class="mt-4 mb-6">
        <nav class="flex flex-col justify-center gap-1 text-xs text-light">
            {{navigation type="secondary"}}
        </nav>
    </section>
<!-- Back to top -->
<div id="back-to-top"
    class="fixed bottom-4 right-4 bg-highlight hover:bg-dark text-white font-bold py-2 px-4 rounded-full shadow-lg cursor-pointer transition-colors duration-300 hidden">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
        stroke-linecap="round" stroke-linejoin="round" class="w-6 h-6">
        <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
        <polyline points="7 10 12 5 17 10"></polyline>
        <line x1="12" y1="5" x2="12" y2="19"></line>
    </svg>
    <span class="sr-only">Back to Top</span>
</div>


</footer>